<div [ngClass]="['flex', 'flex-col', 'items-center']">
  <h2 [ngClass]="['text-4xl']">Sign up</h2>
  <a
    routerLink="/login"
    [ngClass]="['mt-3', 'text-violet-600', 'hover:text-violet-400', 'text-lg']"
  >
    Already have an account?
  </a>
  <form
    [formGroup]="form"
    [ngClass]="['flex', 'flex-col', 'w-80']"
    (ngSubmit)="onSubmit()"
  >
    <label for="login">
      <span
        [ngClass]="[
          'mt-3',
          'ml-3',
          'block',
          'text-md',
          'font-medium',
          'text-slate-700'
        ]"
      >
        Login
      </span>
      <input
        type="text"
        formControlName="login"
        [ngClass]="['input-primary']"
        placeholder="Login..."
      />
    </label>
    <label for="email">
      <span
        [ngClass]="[
          'mt-3',
          'ml-3',
          'block',
          'text-md',
          'font-medium',
          'text-slate-700'
        ]"
        >Email</span
      >
      <input
        type="email"
        formControlName="email"
        [ngClass]="['input-primary']"
        placeholder="Email..."
      />
    </label>
    <label for="password1">
      <span
        [ngClass]="[
          'mt-3',
          'ml-3',
          'block',
          'text-md',
          'font-medium',
          'text-slate-700'
        ]"
        >Password</span
      >
      <input
        type="password"
        formControlName="password1"
        [ngClass]="['input-primary']"
        placeholder="Password..."
      />
    </label>
    <label for="password2">
      <span
        [ngClass]="[
          'mt-3',
          'ml-3',
          'block',
          'text-md',
          'font-medium',
          'text-slate-700'
        ]"
        >Repeat Password</span
      >
      <input
        type="password"
        formControlName="password2"
        [ngClass]="['input-primary']"
        placeholder="Repeat Password..."
      />
    </label>
    <div [ngClass]="['mt-4', 'flex', 'items-center', 'justify-around']">
      <button
        type="submit"
        [ngClass]="['btn-primary']"
        [disabled]="isRegSubmitting$ | async"
      >
        Register
      </button>
    </div>
  </form>
</div>
